Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
Plugins/FMOD/Cache/Editor/FMODStudioCache.asset.meta
Plugins/FMOD/Resources/FMODStudioSettings.asset
Plugins/FMOD/Resources/FMODStudioSettings.asset.meta
